---
layout: base
include_menu: false
---
<div class="body">
    <div class="hero cover is-fullheight">
        <div class="hero-head">
            {% include menu.html %}
        </div>
        <div class="hero-body">
            <h1 class="title">Semana da Computação</h1>
            <p class="subtitle">
                <span>{{ site.data.info.edicao }} edição | IME-USP</span><br>
                <span>{{ site.data.info.periodo }}</span>
            </p>
            <a class="button is-primary" href="#agenda">VER PROGRAMAÇÃO</a>

        </div>
        <div class="hero-foot">
            <a href="#palestras"><img src="{{ site.baseurl }}/images/icons/down-chevron.png" class="chevron" style="width: 38px; height: 19px" alt="Ver mais"></a>
        </div>
    </div>

    <div class="features-wrapper">
        <div class="features columns" id="palestras">
            <div class="column has-text-centered ">
                <div>
                    <p class="title">
                        <img src="{{ site.baseurl }}/images/icons/presentation.png" alt="Palestras">
                    </p>
                    <h2 class="heading">Palestras</h2>
                    <p class="description">Mais de 10 horas de conteúdo sobre diversas áreas da computação</p>
                </div>
            </div>
            <div class="column has-text-centered ">
                <div>
                    <p class="title">
                        <img src="{{ site.baseurl }}/images/icons/fair-stand.png" alt="Stands de Empresas">
                    </p>
                    <h2 class="heading">Stands de Empresas</h2>
                    <p class="description">Não perca a oportunidade de ter acesso ao recrutamento das melhores empresas de tecnologia</p>
                </div>
            </div>
            <div class="column has-text-centered ">
                <div>
                    <p class="title">
                        <img src="{{ site.baseurl }}/images/icons/coffee-cup.png" alt="Coffee Breaks">
                    </p>
                    <h2 class="heading">Coffee Breaks</h2>
                    <p class="description">Oferecemos comes e bebes para todos os participantes do evento como cortesia</p>
                </div>
            </div>
        </div>
    </div>

    <main class="section container description">
        <div class="columns is-centered">
            <div class="column is-10">
                <p>Bem vindos a mais uma edição da <strong>Semana da Computação</strong>! O evento, gratuito e aberto, chega em 2018 na sua décima edição com muito conteúdo e novidades exclusivas.</p>
                <p>Serão <strong>16 palestras</strong> sobre os mais diversos temas da computação. Essa é uma grande oportunidade de conhecer os caminhos da carreira com <strong>especialistas de todo o Brasil</strong>.</p>
                <p>Nesse ano, também contaremos com um dia especial dedicado a alunos do Ensino Médio: o evento <strong>Um Dia Na Computação</strong> irá permitir que jovens comparem cursos parecidos da computação e façam um tour pelo IME-USP.</p>
                <p>No último dia do evento, haverá <strong>stands de recrutamento</strong> das melhores empresas de tecnologia com atuação no Brasil. Se você está se formando, procurando estágio ou apenas quer conhecer o mercado, não pode ficar de fora dessa.</p>
            </div>
        </div>
    </main>

    <hr>

    <section class="section container" id="agenda">
        <h1 class="title has-text-centered chip">Agenda</h1>
        <p class="has-text-centered" style="margin-bottom: 15px;">Confira detalhes sobre as palestras e os perfis do palestrantes:</p>
        {% include agenda2.html %}
    </section>

    <hr>

    <section class="section container" id="umdianacomputacao">
        <h1 class="title has-text-centered chip">Um Dia Na Computação</h1>
        <div class="columns is-centered">
            <div class="column is-10">
                <p>No dia 24 de agosto, teremos um dia dedicado à alunos do Ensino Médio e vestibulandos: o evento <strong>Um Dia Na Computação</strong> irá permitir que jovens comparem cursos parecidos da computação e façam um tour pelo IME-USP.</p>
                <p>Estarão presentes alunos de Sistemas de Informação, Engenharia da Computação e Ciência da Computação. Assim, o estudante indeciso poderá conhecer mais a fundo os diferentes cursos e, com um panorama, ter melhores condições de escolher sua graduação.</p>
                <p>Serão apresentados também os <a href="https://bcc.ime.usp.br/principal/miscelanea/gruposExtensao.html">grupos de extensão</a> do IME-USP, organizados por alunos que estudam diversos temas da computação como desenvolvimento web, desenvolvimento de jogos, segurança, hardware, ação social e programação competitiva.</p>
                <p>Finalmente teremos uma roda de bate-papo para sanar as dúvidas dos estudantes e apresentá-los ao curso de maneira mais próxima.</p>
                <p>Saiba mais informações no <a href="https://www.facebook.com/events/708963852786013/">evento do Facebook</a>.</p>
                <br>
                <div class="has-text-centered">
                    <a class="button is-primary is-text-centered" href="https://docs.google.com/a/usp.br/forms/d/1vLxKflqntxYpfwfzRnVMnMlr8Pel_5YoJVwcN_jPHf8/viewform">INSCREVA-SE</a>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="section container" id="local">
        <div class="columns is-centered">
            <div class="column is-10">
                <h1 class="title has-text-centered chip">Local</h1>
                <p>A Semana da Computação ocorrerá no IME-USP, localizado na Cidade Universitária. As palestras serão realizadas no auditório <strong>Jacy Monteiro</strong> no <strong>Bloco B</strong>.</p>
                <address>
                    Rua do Matão, 1010 &mdash; CEP 05508-090 &mdash; São Paulo &mdash; SP
                </address>
            </div>
        </div>

        <div class="map-wrapper">
            <div class="painel">
                <div class="image-wrapper">
                    <div class="image">
                    </div>
                    <h2 class="text">IME-USP</h2>
                </div>

                <div class="content columns is-multiline">
                    <div class="column is-full">
                        <p class="has-text-centered">O Instituto de Matemática e Estatística da Universidade de São Paulo é um centro de ensino e pesquisa que ministra cursos de matemática, estatística e ciência da computação.</p>
                    </div>

                    <div class="column is-full">
                        <h3>Ônibus</h3>
                        <ul>
                            <li><a href="https://www.ime.usp.br/images/arquivos/imagens/itinerarios.pdf">Trajeto dos circulares 8012 e 8022</a></li>
                            <li><a href="https://www.ime.usp.br/images/arquivos/imagens/cidadeuniversitaria.pdf">Mapa do Campus</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <h3>Metrô</h3>
                        <p>A estação mais próxima é a <strong>Butantã</strong>, da linha 4 amarela.</p>
                    </div>

                    <div class="column">
                        <h3>Trem</h3>
                        <p>A estação mais próxima é a <strong>Cidade Universitária</strong>, da linha 9 esmeralda da CPTM.</p>
                    </div>
                </div>
            </div>
            <div id="map"></div>
        </div>

    </section>

    <div class="footer-circuit"></div>

    <script src="{{site.baseurl}}/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABlTDrtQPTEalQC00yBU3spk4r7-4z09A&callback=initMap"
            async defer></script>
</div>
