<header>
      <nav class="navbar" role="navigation">
            <div class="navbar-menu container">
                  <div class="navbar-brand">
                        <a class="navbar-item" href="{{ site.baseurl }}/">
                              <img src="{{ site.baseurl }}/images/logo.png" alt="X Semana da Computação" width="121" height="36">
                        </a>
                        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                              <span aria-hidden="true"></span>
                              <span aria-hidden="true"></span>
                              <span aria-hidden="true"></span>
                        </a>

                  </div>

                  <div class="navbar-menu" id="navMenu">
                        <div class="navbar-end">
                              <a class="navbar-item" href="{{ site.baseurl }}/sobre.html">Sobre</a>
                              <a class="navbar-item" href="{{ site.baseurl }}/#agenda">Agenda</a>
                              <a class="navbar-item" href="{{ site.baseurl }}/#umdianacomputacao">Um dia na computação</a>
                              <a class="navbar-item" href="{{ site.baseurl }}/#local">Local</a>
                        </div>
                  </div>
            </div>
      </nav>
</header>
