// Set your brand colors
$green: #66cc66;
$green-lighter: #8dd48d;
$green-darker: #198019;
$blue: #183F63;
$background-on-blue: #B2CDE3;
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;
$white: #fff;
$white-darker: #aaa;
$black: #000;

// Update Bulma's global variables
$family-sans-serif: "Inconsolata", serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
$primary: #0F6BB1;

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
  color: $white;
}

$text: $green;
$text-strong: $green;

$link: #0085FF;
$navbar-background-color: $primary;

//$title-color: $white;
//$subtitle-color: #ddd;
