nav.navbar {
  color: white;

  a {
    color: white;
  }
}

.navbar-item {
  color: $green !important;
  text-transform: uppercase;
}

.summary p {
  width: 960px;
}

.body {
  hr {
    background-color: #275077;
    height: 1px;
  }
}

footer {
  color: $black;
  strong {
    color: $black;
  }

  ul.edicoes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      margin: 0 20px 0 20px;
    }
  }
}


.agenda {
  overflow-x: scroll;

  table {
    td, th {
      text-align: center;
    }
  }

  .palestrante {
    font-size: 12px;
  }

  .embreve {
    font-style: italic;
    color: #bbb;
  }
}
