.agenda-tabular {
  font-family: Lato;
  overflow-x: auto;
  line-height: 1.2;

  table {
    background-color: $background-on-blue;
    margin: auto;
    td, th {
      text-align: center;
      border-color: #c7dbec;
      padding-top: 13px;
      padding-bottom: 13px;
	  vertical-align: middle;
    }
    th {
      color: $green-darker;
    }
  }

  .palestrante {
    font-size: 12px;
  }

  .embreve {
    font-style: italic;
    color: #666;
  }

  a {
    text-decoration: none;
    color: #00305D;

    &:hover {
      color: $link-alt-bg-hover;
    }
  }
}

.agenda {
  font-family: Inconsolata;
  .row {
    display: flex;
    margin-bottom: 20px;

    @include until($mobile) {
      flex-direction: column;
    }
  }

  .title {
    color: $green;
    flex-basis: 40%;
    margin-right: 20px;
    text-align: right;
    font-size: 30px;

    .comma {
      display: none;
    }

    @include until($mobile) {
      text-align: left;
      margin-bottom: 10px;

      .comma {
        display: inline;
      }
      br {
        display: none;
      }
    }
  }


  .lectures {
    flex-basis: 60%;

    a {
      text-decoration: none;
    }

    .linha {
      display: flex;
      line-height: 1;
      margin-bottom: 14px;
      color: $green;
      text-decoration: none;

	  .details {
		align-self: center;
	  }

      .lecture {
        font-size: 25px;
        color: $white;
      }

      .time {
        margin-right: 10px;
        margin-top: 3px;
      }
    }
  }
}
