---
include_menu: true
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>X Semana da Computação</title>
		<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Inconsolata|Roboto+Mono|Source+Code+Pro|Space+Mono|Lato:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


		<link href="css/main.css" rel="stylesheet">
	</head>
	<body>
		{%if page.include_menu != false %}{% include menu.html %}{% endif %}

		{{content}}

		<footer class="footer">
			<div class="container content has-text-centered">
				<p><a href="#">Entre em contato</a> &middot; <a href="{{ site.url_root }}/equipe.html">Conheça a equipe</a></p>
				<p>
					<strong>Edições anteriores</strong><br>
					<a href="#">II 2010</a> ·
					<a href="#">III 2011</a> ·
					<a href="#">IV 2012</a> ·
					<a href="#">V 2013</a> ·
					<a href="#">VI 2014</a> ·
					<a href="#">VII 2015</a> ·
					<a href="#">VIII 2016</a>
				</p>

				<p><strong>Semana da Computação &copy; 2018</strong><br></p>
				<p>
					O <a href="https://github.com/semanadacomputacao/site">código-fonte desse site</a> é distribuído sob a licença MIT. O conteúdo é distribuído sob a licença <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. Ícones desenvolvidos pela <a href="http://www.freepik.com/">Freepik</a> de <a href="https://www.flaticon.com">www.flaticon.com</a>.
				</p>
			</div>
		</footer>

		<script src="main.js"></script>
	</body>
</html>
