---
layout: base
---
<section class="hero cover">
	<div class="hero-body">
		<p class="title">
			Semana da Computação
		</p>
		<p class="subtitle">
			<span>Décima edição | IME-USP</span><br>
			<span>17/05/18 a 24/05/18</span>
		</p>
		<a class="button is-primary">VER PROGRAMAÇÃO</a>
	</div>
</section>

<div class="section container">
	<div class="columns is-centered">
		<div class="column is-10">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida consectetur faucibus. Nulla sed posuere est. Pellentesque rhoncus ex non lacinia faucibus. Integer molestie, ipsum et vestibulum mattis, mi metus pharetra quam, nec eleifend metus neque id nibh. Proin a accumsan purus. Maecenas a vehicula dolor, ac sodales enim. Donec non eros turpis. Proin vel sagittis odio. Proin at maximus justo. Quisque nec cursus risus, nec sagittis sem. Maecenas nisl risus, scelerisque vel elementum in, fringilla vel est. Quisque molestie nunc vel ultrices scelerisque. Nulla placerat nulla at neque rhoncus, eget facilisis ligula vehicula.</p>
		</div>
	</div>
</div>

<hr>

<div class="container">
	<nav class="features columns">
		<div class="column has-text-centered ">
			<div>
				<p class="title">
					<img src="images/003-presentation.png" alt="">
				</p>
				<p class="heading">Palestras</p>
				<p class="description">Mais de 10 horas de conteúdo sobre diversas áreas da computação</p>
			</div>
		</div>
		<div class="column has-text-centered ">
			<div>
				<p class="title">
					<img src="images/002-fair-stand.png" alt="">
				</p>
				<p class="heading">Stands de Empresas</p>
				<p class="description">Não perca a oportunidade de ter acesso ao recrutamento das melhores empresas de tecnologia</p>
			</div>
		</div>
		<div class="column has-text-centered ">
			<div>
				<p class="title">
					<img src="images/001-coffee-cup.png" alt="">
				</p>
				<p class="heading">Coffee Breaks</p>
				<p class="description">Oferecemos comes e bebes para todos os participantes do evento como cortesia</p>
			</div>
		</div>
	</nav>
</div>

<hr>

<div class="section container">
	<h1 class="title has-text-centered">Palestras</h1>
</div>

<hr>

<div class="section container">
	<h2 class="title has-text-centered">Um Dia Na Computação</h2>
</div>

<hr>

<div class="section container">
	<div class="columns is-centered">
		<div class="column is-10">
			<h1 class="title has-text-centered">Localização</h1>
			<p>A Semana da Computação ocorrerá no Instituto de Matemática e Estatística da Universidade de São Paulo, localizado na Cidade Universitária, Butantã, São Paulo. As palestras serão realizadas no auditório Jacy Monteiro no Bloco B.</p>
		</div>
	</div>

	<div class="map-wrapper">
		<div class="painel">
			<div class="image-wrapper">
				<div class="image">
				</div>
				<h2 class="text">IME-USP</h2>
			</div>

			<div class="content columns is-multiline">
				<div class="column is-full">
					<p class="has-text-centered">O Instituto de Matemática e Estatística da Universidade de São Paulo é um centro de ensino e pesquisa que ministra cursos de matemática, estatística e ciência da computação.</p>
				</div>

				<div class="column is-full">
					<h3>Ônibus</h3>
					<ul>
						<li><a href="#">Trajeto dos circulares 8012 e 8022</a></li>
						<li><a href="#">Mapa do Campus</a></li>
					</ul>
				</div>

				<div class="column">
					<h3>Metrô</h3>
					<p>A estação mais próxima é a <strong>Butantã</strong>, da linha 4 amarela.</p>
				</div>

				<div class="column">
					<h3>Trem</h3>
					<p>A estação mais próxima é a <strong>Cidade Universitária</strong>, da linha 9 esmeralda da CPTM.</p>
				</div>
			</div>
		</div>
		<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-23.5595,-46.7313&key=AIzaSyDD00St30hKE871UdplT4ZRvQNFoG6TvYo" allowfullscreen></iframe>
	</div>
</div>
